//------------------------------------------------------------------------------
// _sauce.scss
//
// Example Sauce component.
//------------------------------------------------------------------------------

.sauce {
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 100px 0;

  h1 {
    @include replace-text-with-dimensions("sauce.png");
    margin: 0 auto;
  }
  p {
    font-weight: 300;
    font-size: 2.2em;
    color: #777;
    margin-top: 50px;
  }
}
