//==============================================================================
// _sauce.scss
//
// Example Sauce component. Delete before starting your project.
//==============================================================================

.sauce {
  text-align: center;
  margin: 10rem 0;
}
.sauce__heading {
  background-image: image-url("sauce.png");
  text-indent: -9999px;
  display: block;
  width: 417px;
  height: 73px;
  margin: 0 auto;
}
.sauce__message {
  font-weight: 100;
  font-size: 2.2rem;
  color: #777;
  margin-top: 5rem;
}
