//------------------------------------------------------------------------------
// _colors.scss
//
// Color declarations.
//------------------------------------------------------------------------------
