//------------------------------------------------------------------------------
// _general.scss
//
// General config.
//------------------------------------------------------------------------------

body {
  background: #fff;
  font-family: $font-face-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: #000;
}
