//==============================================================================
// _layout.scss
//
// Layout config.
//==============================================================================

// Page
//------------------------------------------------------------------------------
html, body {
  height: 100%;
}
body {
  background: #fff;
  font-family: $sans;
  font-size: 10px;
  line-height: 1.4;
  color: #000;
}
